@font-face {
    font-family: chicago;
    src: url('../fonts/ChicagoFLF.ttf');
}

* {
}

body {
    background: #999BC6;
    font-family: chicago;
}

header {
    position: absolute;
    width: 100%;
    height: 2rem;
    top: 0;
    left: 0;
    background: #DDDDDD;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-left img {
    padding: 12px;
    margin-top: -4px;
}

.header-right img {
    padding: 12px;
    margin-top: -2px;
}

header button {
    display: inline-block;
    background: transparent;
    border: none;
    font-size: 18px;
    font-family: chicago;
    color: black;
    /* margin-top: 2px; */
}

.dropdown nav {
    display: none;
    border: 1px solid black;
    background: #DDDDDD;
}

.dropdown:hover nav {
    display: block;
    position: absolute;
    /* margin-top: 5px; */
}

header ul {
    list-style-type: none;
    margin: 0px 12px 0px -30px;
    padding-top: 6px;
}

header ul li {
    margin-bottom: 6px;
}

header ul li a:hover {
    color: #999BC6;
}

a {
    color: black;
    text-decoration: none;
}

.desktop {
    float: right;
    margin-top: 3.25rem;
    margin-right: 48px;
}

.mywork {
    margin: 0px 0px 0px -4px;
}

.mywork button.btn-settings {
    background: transparent;
    color: black;
}

.resume { 
}

.contact {
}

#text-margin {
    margin: -10px 0px 30px 0px;
}

#text-margin2 {
    margin: 0px 0px 20px 0px;
}

#img-margin {
    margin: 10px 0px 20px 10px;
    display: block;
}

#img-margin2 {
    margin: 10px 0px 10px 6px;
    display: block;
}

#img-margin3 {
    margin: 10px 0px 10px 0px;
    display: block;
}

/* bulma fixes */

h4 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    font-size: 20px;
}

.header-left img {
    padding: 0px;
    margin: 0px 8px 2px 9px;
}

.header-right img {
    padding: 0px;
    margin: 0px 8px 2px 9px;
}

/* DROPDOWN */

.btn-secondary {
    background: transparent;
    color: black;
    border: none;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: transparent;
}

.btn:hover {
    background: transparent;
    color: black;
    /* border: none; */
}

.btn:active {
    background: transparent;
    color: black;
    border: 0px solid black;
}

.btn.show {
    background: transparent;
    color: black;
    border: none;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    background: #DDDDDD;
    border: 1px solid black;
    border-radius: 0px;
}

/* MODAL */

button.btn-settings {
    margin: 25px;
    padding: 20px 30px;
    font-size: 1.2em;
    background-color: #337ab7;
    color: white;
}
button.btn-settings:active {
    color: white;
}
.modal {
    overflow: hidden;
    height: 40vh;
    width: 60vw;
    border: 2px solid black;
    left: 225px;
    top: 125px;
    background: #DDDDDD;
    padding-left: 12px;
    padding-right: 12px;
    --bs-modal-width: 100%;
    --bs-modal-inner-border-radius: 0px;
    --bs-modal-margin: 0px;
    --bs-modal-border-radius: 0px;
    --bs-modal-border-color: transparent;
}

.modal-dialog {
    margin-right: 0;
    margin-left: 0;
    height: 100%;
}

.modal-content {
    height: 100%;
}

.modal-header {
    height:30px;
    padding: 20px;
    border-bottom: none;
    background: #DDDDDD;
}

.modal-header .close {
    margin-left: -20px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-title {
    font-size: 16px;
    margin: 0px auto;
}

.modal-body {
    padding: 5px 35px 20px;
    background: white;
    border: 2px solid black;
    height: 100%;
}

.fade:not(.show) {
    opacity: 100;
}